h1{
    text-align: left;
    margin-top: 70px;
    size: 50pt;
}

body{
    margin-left: 200px;
    background-color: rgb(222, 232, 254);
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: left;
    font-weight: normal;
}


input[type=text], input[type=password], input[type=number], input[type=email]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 30px;
}

input[type=submit]{
    border-radius: 5pt;
    font-size: 12pt;
    background-color: rgb(7, 64, 63);
    color: white;
    border-style: none;
    width: 150px;
    height: 30px;
}

button:hover {
    opacity: 0.8;
}

.name{
    font-size: 15pt;
    font-weight: bold;
    float: left;
    margin-left: 20px;
}

hr{
    clear:left;
}

.tutorElement{
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 73.5%;
    height: 10%;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
}

dd{
    margin: 8px 8px 8px 8px;
}

.subjects, .location{
    font-size: 13pt;
    height: 30px;
    padding-top: 2px;
}

.icon{
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#navbar {
    background-color: rgb(7, 64, 63);
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    left: 0;
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    padding-left: 50px;
}

/* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-color: rgb(7, 64, 63);
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}