{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.9.0"}}},
  {
    mochijson2,
    ".*",
    {git, "https://github.com/tel/mochijson2.git", {tag, "2.3.2"}}
  }
]}.

{shell, [
  % {config, "config/sys.config"},
  {apps, [chat_erlang,mnesia]}
]}.

{relx, [{release, {chat_erlang, "0.1.0"},
         [chat_erlang,
          sasl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
        {mnesia, [{dir,"./db"}]},
        {apps, [chat_erlang]}
]}.

{plugins, [rebar3_run]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
